<%- include('../partials/header') %>

<form id="new-form" action="/reviews" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label>
  <label>Link:
    <input type="text" name="link">
  <label>Rating:
  </label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  </label>
  <label>Opinion:
    <input type="text" name="opinion">
  </label>
  <input type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>