<%- include('../partials/header') %>
<h1>Create New Review</h1>
<form  action="/reviews" method="POST">
  <label></label>
    <input class="new-input" type="text" name="title" placeholder="Review Title"><br>
  </label>
  <label>
    <input class="new-input" type="text" name="link" placeholder="Recipe/Restaurant URL"><br>
  <label id="rating-label">Rating:
  </label>
  <select id="rating-input" name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  </label>
  <label>
    <input class="new-input" type="text" name="image" placeholder="Image Link"><br>
  </label>
  <label>
    <input  class="new-input" type="text" name="opinion" placeholder="Opinion"><br>
  </label>
  <input id="sumbit-new-button" type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>